h1{padding-left:500px;}
form{padding-left:600px;}
#Search{width: 500px;box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.233);border-radius:20px;
height:30px;font-family:inherit;font-size:inherit; }
#Поиск{border-radius:10px;height:30px;width:200px;padding-top:;}